body, html { margin: 0; }

canvas { position: fixed; touch-action: none; }

body {background-color: rgb(23, 23, 34);}

p {font-family: 'Roboto', sans-serif; font-size: 2em; color: rgb(245, 241, 237);}

#infobox {
    border-radius: 15px;
    background: #434461;
    padding: 20px; 
    width: 100%;
    height: 400px; 
  }